.progress-element {
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  background: transparent;
  color: var(--progress-indicator-color, #d62828);
  border-radius: inherit;
}

.progress-element::-webkit-progress-bar {
  background-color: transparent;
  border-radius: inherit;
}

.progress-element::-webkit-progress-value {
  background-color: currentColor;
  border-radius: inherit;
}

.progress-element::-moz-progress-bar {
  background-color: currentColor;
  border-radius: inherit;
}
